{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    Add Patients
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}

<style>
    .col-lg-5{
        max-width:11.666667% !important;
        margin-left: 336px !important;   
        margin-bottom: 100px !important;
    }

</style>

    <form id="addpatient-form" action="" method="post">
    {% csrf_token %}
        
        <div class="container">
            <div class="patient-form ">
                <div class="row">
                    <div class="form-field col-md-6">
                        <input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name">
                        <small id="name_error" class="error-sm d-flex" ></small>
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="phone_num" class="input-text" type="text" name="phone_num" placeholder="Phone no." 
                        oninput="this.value = this.value.replace(/[^0-9,-/]/g, '').replace(/(\..*?)\..*/g, '$1');">
                        <small id="phone_num_error" class="error-sm d-flex" ></small>
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="patient_relative_name" class="input-text" type="text" name="patient_relative_name" placeholder="Relative's name">
                        <small id="patient_relative_name_error" class="error-sm d-flex" ></small>

                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="patient_relative_contact" class="input-text" type="text" name="patient_relative_contact" placeholder="Relative's contact"
                        oninput="this.value = this.value.replace(/[^0-9,-/]/g, '').replace(/(\..*?)\..*/g, '$1');">
                        <small id="patient_relative_contact_error" class="error-sm d-flex" ></small>

                    </div>
                    <div class="form-field col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-4">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="gender" id="male" value="Male"
                                  checked>Male</label>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="gender" id="female"
                                    value="Female">Female</label>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="form-field col-md-6">
                        <input type="text" id="address" class="input-text" type="text" name="address" placeholder="Address">
                        <small id="address_error" class="error-sm d-flex" ></small>

                    </div>


                    <div class="form-field col-md-12" style="padding-bottom: 4px;">
                        <input type="text" id="prior_ailments" class="form-control input-text mb-0 p-0 " style="outline:none" type="text" name="prior_ailments" placeholder="Prior ailments if any, eg: Diabetes, Thyroid">
                        <small id="prior_ailments_error" class="error-sm d-flex" ></small>

                    </div>

                    <div class="form-field col-md-6">
                        <select class="input-text"  name="doctor" id="doctor">
                            <option value="">Select Doctor</option>
                            {% for doctor in doctors %}
                                <option class="" value="{{doctor}}">{{doctor}}</option>
                            {% endfor %}
                        </select>
                        <small id="doctor_error" class="error-sm d-flex" ></small>
    
                    </div>
    

                    <div class="form-field col-md-1 ">
                        <label for=""style="padding-left:10px"><b> Dob </b></label>
                    </div>
                    <div class="datepicker form-field col-md-5">

                        <input type="date" id="dob" class="input-text" type="date" name="dob" placeholder="date of birth">
                        <small id="dob_error" class="error-sm d-flex" ></small>

                    </div>
                    
                    <div class="form-field col-md-6">
                        <select class="input-text"  name="status" id="status">
                            <option value="">Select Status</option>
                            <option class="bg-danger text-white" value="Critical">Critical</option>
                            <option class="bg-warning text-white" value="Observation">Observation</option>
                            <!-- <option class="bg-warning text-white" value="Recovering">Recovering</option> -->
                            <!-- <option class="bg-success text-white" value="Recovered">Recovered</option>
                            <option class="bg-secondary text-white" value="Deceased">Deceased</option> -->
                        </select>
                        <small id="status_error" class="error-sm d-flex" ></small>
    
                    </div>

                    <div name="myDiv" id="myDiv" class="form-field col-md-6 ">
                    <select name="bed_num" class="input-text" id="bed_num" style="width: 100%;" >
                        <option value="">Select Bed Number</option>
                        <!-- {% for bed in beds %}
                        <option value="{{bed}}">{{bed}}</option>
                        {% endfor %} -->
                    </select>
                    <small id="bed_num_error" class="error-sm d-flex" ></small>
                    </div>
                

              
            </div>
        </div>

            <!-- symptons field -->
            <div class="patient-form row d-flex">
                <div class="symptoms row">
                <div class="symptoms-label col-12 text-center mt-0" > <b> Symptoms</b></div><br>
                
                <!-- <div class="row"> -->
                    <div class="common-symptoms col-md-4">
                        <label for="" class="symptom-type"><b>Common</b> </label><br>

                        <fieldset>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" id="fever" value="Fever" class="checkbox">
                        <label for="fever">Fever</label><br>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Dry Cough" id="dry_cough">
                        <label for="">Dry cough</label><br>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms" value="Tiredness" id="tiredness">
                        <label for="">Tiredness</label><br>
                        </div>
                        </fieldset>
                    </div>
                
                    <div class="less-common-symptoms col-md-4">
                    <div>
                        <label for="" class="symptom-type"> <b>Less Common</b> </label><br>
                        
                        <div class="symptom">
                        <input type="checkbox" name="symptoms2" value="Aches and pains" id="aches_and_pain">
                        <label for="aches_and_pain">Aches and pains</label><br>
                        </div>
        
                        <div class="symptom">
                        <input type="checkbox" name="symptoms2" value="Sore Throat" id="sore_throat">
                        <label for="sore_throat">Sore throat</label><br>
                        </div>

                        <div class="symptom">
                        <input type="checkbox" name="symptoms2" valu="Diarrhoea" id="diarrhoea">
                        <label for="diarrhoea">Diarrhoea</label><br>
                        </div>

                        <div class="symptom">
                        <input type="checkbox" name="symptoms2" value="Loss of taste or smell" id="loss_of_taste_or_smell">
                        <label for="loss_of_taste_or_smell">Loss of taste or smell</label><br>
                        </div>
                    </div>
                    </div>
                    
                    <div class="serious-symptoms col-md-4">
                        <label for="" class="symptom-type"> <b>Serious</b> </label><br>
        
                        <div class="symptom">
                            <input type="checkbox" name="symptoms3" value="Difficulty in breathing or shortness of breath" id="difficulty_in_breathing_or_shortness_of_breath">
                            <label for="difficulty_in_breathing_or_shortness_of_breath"> Difficulty in breathing or <br> shortness of breath</label><br>
                            </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms3" value="Chest pain or pressure" id="chest_pain_or_pressure">
                        <label for="chest_pain_or_pressure">Chest pain or pressure</label><br>
                        </div>
                        <div class="symptom">
                        <input type="checkbox" name="symptoms3" value="Loss Of Speech Or Movement" id="loss_of_speech_or_movement">
                        <label for="loss_of_speech_or_movement">Loss of speech or <br> movement</label><br>
                        </div>
                    </div>  


                <!-- </div> -->
            </div>
            </div>
            
        </div>

        </div>
        </div>
    </div>
        <button id="submit" name="submit" type="submit"  class="btn col-lg-5 btn-block mx-auto btn-info " style="background-color: #203A43;border-color: #203A43;margin-bottom :100px;">Add Patient</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <script>
        $('#status').change(function(){
            status = $(this).val();
            request_url = '/json_bed/';
            
            $.ajax({
                url: request_url,
                dataType : 'json',
                success: function(data){
                    console.log(data)
                    var toAppend = '';
                        
                        if(status == 'Recovered'){
                            $.attr('disabled','disabled')                            // toAppend += '<option>'+'Patient is Recovered'+'</option>';
                        }
                        else if(status == 'Deceased'){
                            $.attr('disabled','disabled')                            // toAppend += '<option>'+'Patient is Deceased'+'</option>';
                        }
                        else{

                        toAppend += '<option>'+'Select Bed Number'+'</option>';
                        }

                        $.each(JSON.parse(data),function(i,o){
                        if (status == 'Critical'){
                            var getCat= o.categories;
                            if (getCat == 'Ventilator'){
                            toAppend += '<option>'+o.bed_number+'</option>';
                            }
                        }
                        else if(status == 'Observation'){
                            var getCat= o.categories;
                            if (getCat == 'Simple'){
                            toAppend += '<option>'+o.bed_number+'</option>';
                            }
                        }
                        });
                        // if(status == 'Recoverd')
                        $('#bed_num').empty(); 
                        $('#bed_num').append(toAppend);
                }
            });      
        });
        
    </script>
    <script>
        
        $('#addpatient-form').on('submit',function(e){
     
              e.preventDefault();     
              $("[id$='_error']").empty()
              $.ajax({
                url: '/add_patient/', 
                type: "POST",
                data: $(this).serialize(),
                  success: function(result){

                  
                  setTimeout(() => window.location.href= '/patient_list_admin/' ,500)
                  },
                  
                  error: function(response){
                    document.getElementById("submit").disabled = false;
                    console.log("response: ",response)
    
                    let error = response.responseJSON.error
                    console.log(error)
                    console.log("res : ",error);
                    $('#error_name').text(error.name)
                    $.each(error, function (k, v) {
                      console.log("error in create in only k :", k, v);
                      $('#' + k + '_error').text(v);
                      
                    });
                    
      
                  }
    
              });
          })
  
      
    </script>  
{% endblock content %}