{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    Add Doctor
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}


<style>
    .form-check-label{
        margin-top: 10px;
    }
    .col-lg-5{
        max-width:11.666667%;
        margin-left: 336px;   
    }
    input[type="file"] {
      display: block;
    }

    .imageThumb {
      height: 200x;
      border: 2px solid;
      padding: 1px;
      cursor: pointer;
    }

    .pip {
      display: inline-block;
      margin: 10px 10px 0 0;
    }

    .input-group,
    .asColorPicker-wrap {
      margin-top: 15px;
    }

    .remove {
      display: block;
      background: #444;
      border: 1px solid black;
      color: white;
      text-align: center;
      cursor: pointer;
      width: 110px;
    }

    .remove:hover {
      background: white;
      color: black;
    }
</style>
    <form id="adddoctor-form" action="" method="post">
    {% csrf_token %}
        
        <div class="container">
            <div class="patient-form ">
                <div class="row">
                    <div class="form-field col-md-6">
                        <input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name">
                        <small id="name_error" class="error-sm d-flex" ></small>
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="phone_num" class="input-text" type="text" name="phone_num" placeholder="Phone no."
                        oninput="this.value = this.value.replace(/[^0-9,-/]/g, '').replace(/(\..*?)\..*/g, '$1');">
                        <small id="phone_num_error" class="error-sm d-flex" ></small>

                    </div>
                    
                    <div class="form-field col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-4">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="gender" id="male" value="Male"
                                  checked>Male</label>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="gender" id="female"
                                    value="Female">Female</label>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="form-field col-md-6">
                        <input type="date" id="dob" class="input-text" type="date" name="dob" placeholder="date of birth">
                        <small id="dob_error" class="error-sm d-flex" ></small>
                    </div>
    
                    <div class="form-field col-md-6">
                        <input type="text" id="email" class="input-text" type="text" name="email" placeholder="Email Address">
                        <small id="email_error" class="error-sm d-flex" ></small>

                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="address" class="input-text" type="text" name="address" placeholder="Address">
                        <small id="address_error" class="error-sm d-flex" ></small>
                    
                    </div>
                   
                <div class="form-field col-md-6">
                    <select name="state" class="input-text" id="inputState" style="color: black;">
                        <option value="">Select State</option>
                        <option value="Andra Pradesh">Andra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madya Pradesh">Madya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Orissa">Orissa</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttaranchal">Uttaranchal</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="West Bengal">West Bengal</option>
                        <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadeep">Lakshadeep</option>
                        <option value="Pondicherry">Pondicherry</option>
                      </select>
                      <small id="state_error" class="error-sm d-flex" ></small>
                </div>
                
                <div class="form-field col-md-6">
                    <select name="city" class="input-text" id="inputDistrict" style="color: black;"
                    placeholder="Select City">
                    <option value="">Select City</option>
                  </select>
                  <small id="city_error" class="error-sm d-flex" ></small>

                </div>
                
                <div class="form-field col-md-6">
                 <select name="specialization" class="input-text" id="specialization" style="color: black;">
                    <option value="">Select Specialization</option>  
                    <option value="Virologist">Virologist</option>
                    <option value="MD">MD</option>
                    <option value="MBBS">MBBS</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Physician">Physician</option>
                </select>
                <small id="specialization_error" class="error-sm d-flex" ></small>
                </div>


                <div class="col-md-7 form-field" style="padding: 0%;"> 
                  <label for="img"  style="width: 470px;"><h6>Profile Pic</h6>
                </label>
                <input type="hidden" id="profile_image_hidden" name="profile_image" value="" />
    
                <input type="file" id="profile_image" name="profile_image" 
                  class="file-upload-default image_upload" accept="image/png, image/jpg, image/jpeg" hidden>
            
              
                <div class="input-group" style="width:300px;">
                  <input type="text" for="profile_image" id='profile_image' class="form-control file-upload-browse"
                    placeholder="Upload Image" style="cursor: pointer;">
                    <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" style="height: 50px;background-color:#203A43;border-color:#203A43 ;"
                      type="button">Upload</button>
                  </span>
                </div>
            </div>
            <!-- symptons field -->
            
        </div>
        <input type="hidden" name="password">

        </div>
        </div>
    </div>
    <button id="submit" name="submit" type="submit" class="btn col-lg-5 btn-block btn-info" style="background-color: #203A43;border-color: #203A43;margin-bottom :100px;">Submit</button>
    </form>
    <script src="{% static 'scripts/state_city.js' %}"></script>
    <script src="{% static 'scripts/file-upload.js' %}"></script>
    <script type="text/javascript"
   src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.17/dist/browser-image-compression.js"></script>
   <script>
    $(document).ready(function () {
          var image_array = {};
          var image_array2 = {}

          if (window.File && window.FileList && window.FileReader) {
              $("#profile_image").on("change", async function (e) {
                  image_array = {}
                  $('.remove').parent(".pip").remove();
                  var files = e.target.files
                  filesLength = files.length;
                  var id = $(this).attr('id')
                  for (var i = 0; i < filesLength; i++) {
                      var f = files[i]
                      let r = (Math.random() + 1).toString(36).substring(7);

                          image_array[r] = e.target.result;

                          var options = {
                              maxSizeMB: parseFloat(1),
                              maxWidthOrHeight: parseFloat(1024),
                              useWebWorker: false,
                              // onProgress: onProgress
                          }

                      let output = await imageCompression(f, options)
                      console.log("output : ",output);

                      var reader = new FileReader();
                      reader.readAsDataURL(output); 
                      reader.onloadend = function() {
                        var base64data = reader.result;                
                        $(`#${id}_hidden`).val(base64data)
                      }

                      const downloadLink = URL.createObjectURL(output)
                      console.log('downloadLink',downloadLink)
                          $("<span class=\"pip\">" +
                              "<img style=\"width: 250px;\" class=\"imageThumb\" src=\"" + downloadLink + "\"  title=\"\"/>" +
                              "<br/><span id=\"" + r + "\" class=\"remove\">Remove image</span>" +
                              "</span>").insertAfter("#profile_image");
                          $(".remove").click(function () {
                              $(this).parent(".pip").remove();
                          });
                  }
                  console.log('image_array : ',image_array)
              });
              /*$("#profile_image ").on("change", function (e) {
                  image_array2 = {}
                  $('.remove').parent(".pip").remove();
                  var files = e.target.files
                  //console.log('2fole', files)
                  filesLength = files.length;
                  for (var i = 0; i < filesLength; i++) {
                      var f = files[i]
                      var fileReader = new FileReader();
                      fileReader.onload = (function (e) {
                          //console.log("file name e",f.name)
                          let r = (Math.random() + 1).toString(36).substring(7);
                          // console.log("random", r);
                          //image_array[r] = 'dhaudhadhaudio';
                          image_array2[r] = e.target.result;

                          //console.log("image e", image_array2)
                          var file = e.target;
                          $("<span class=\"pip\">" +
                              "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + f.name + "\"/>" +
                              "<br/><span id=\"" + r + "\" class=\"remove\">Remove image</span>" +
                              "</span>").insertAfter("#a_files");
                          $(".remove").click(function () {
                              //console.log('id :',$(this).attr('id'))
                              delete image_array2[$(this).attr('id')]
                              // console.log("remove e",image_array)
                              $(this).parent(".pip").remove();
                          });

                      });
                      fileReader.readAsDataURL(f);
                  }
              }); */
          }
        
    });

    function getBaseUrl(val) {
      var id = '#' + val;
      var file = document.querySelector(id)['files'][0];
      var reader = new FileReader();
      var baseString;
      reader.onloadend = function () {
        var hidden_id = id + '_hidden';
        baseString = reader.result;
        $(hidden_id).val(baseString);
      };
      reader.readAsDataURL(file);
    }




  </script>

  <script>
  $(document).ready(function() {       
    $('#profile_image').bind('change', function() {
        var a=(this.files[0].size);
        if(a > 1000000) {
            alert('File too Big, please select a file less than 1MB ');
        };
    });
});
</script>
    <script>
        
        $('#adddoctor-form').on('submit',function(e){
     
              e.preventDefault();     
              $("[id$='_error']").empty()
              $.ajax({
                url: '/add_doctor/', 
                type: "POST",
                data: $(this).serialize(),
                  success: function(result){
                  setTimeout(() => window.location.href= '/view_doctor/' ,500)
                  },
                  
                  error: function(response){
                    // document.getElementById("submit").disabled = false;
                    console.log("response: ",response)
    
                    let error = response.responseJSON.error
                    console.log(error)
                    console.log("res : ",error);
                    $('#error_name').text(error.name)
                    $.each(error, function (k, v) {
                      console.log("error in create in only k :", k, v);
                      $('#' + k + '_error').text(v);
                      
                    });
                    
      
                  }
    
              });
          })
  
      
    </script>  
{% endblock content %}
