{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    Add Beds
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}

<style>
    .col-lg-5{
        max-width:11.666667% !important;
        margin-left: 336px !important;   
        margin-bottom: 100px !important;
    }
</style>

    <form id="addbed-form" action="" method="post">
    {% csrf_token %}
        
        <div class="container">
            <div class="patient-form ">
                <div class="row">
                    <div class="form-field col-md-2">
                        <label for="">Bed Number</label>
                    </div>

                    <div class="form-field col-md-6">
                        <input type="text" id="bed_number" class="input-text" type="text" name="bed_number" placeholder="Enter Bed Number">
                        <small id="bed_number_error" class="error-sm d-flex" ></small>

                    </div>
 

            </div>
        </div>
            
        </div>

        <div class="container">
            <div class="patient-form  ">
                <div class="row">
                    <div class="form-field col-md-2">
                        <label for="occupied">Occupied</label>
                    </div>
                    <div class="radio-row form-field col-md-6">
                        <input type="radio" id="Yes" name="occupied" value="Yes" style="width: 15px;height: 15px;">
                        <label for="Yes" style="padding-left: 10px;padding-right : 10px">Yes</label>
                        <input type="radio" id="No" name="occupied" value="No" style="width: 15px;height: 15px;" checked>
                        <label for="No" style="padding-left: 10px;">No</label>
                    <!-- <input type="checkbox" id="occupied"  name="occupied" style=" width: 40px; height: 40px;"> -->
                      
                    </div>
 

            </div>
        </div>
            
        </div>
        <div class="container">
            <div class="patient-form  ">
                <div class="row">
                    <div class="form-field col-md-2">
                        <label for="occupied">Category</label>
                    </div>
                    <div class="radio-row form-field col-md-6">
                        <input type="radio" id="Simple" name="categories" value="Simple" style="width: 15px;height: 15px;" checked>
                        <label for="Simple" style="padding-left: 10px;padding-right : 10px">Simple</label>
                        <input type="radio" id="Ventilator" name="categories" value="Ventilator" style="width: 15px;height: 15px;" >
                        <label for="Ventilator" style="padding-left: 10px;">Ventilator</label>
                    <!-- <input type="checkbox" id="occupied"  name="occupied" style=" width: 40px; height: 40px;"> -->
                      
                    </div>
 

            </div>
        </div>
            
        </div>
        </div>
        </div>
    </div>
        <button id="submit" name="submit" type="submit" class="btn col-lg-5 btn-block mx-auto btn-info " style="background-color: #203A43;border-color: #203A43;">Add Bed</button>
    </form>
    <script>
        
        $('#addbed-form').on('submit',function(e){
     
              e.preventDefault();     
              $("[id$='_error']").empty()
              $.ajax({
                url: '/add_bed/', 
                type: "POST",
                data: $(this).serialize(),
                  success: function(result){
                  setTimeout(() => window.location.href= '/view_bed_admin/' ,500)
                  },
                  
                  error: function(response){
                    // document.getElementById("submit").disabled = false;
                    console.log("response: ",response)
    
                    let error = response.responseJSON.error
                    console.log(error)
                    console.log("res : ",error);
                    $('#error_name').text(error.name)
                    $.each(error, function (k, v) {
                      console.log("error in create in only k :", k, v);
                      $('#' + k + '_error').text(v);
                      
                    });
                    
      
                  }
    
              });
          })
  
      
    </script>  
{% endblock content %}
