{% load static %}

<!DOCTYPE html>
<html lang="en">
  <title>Covid 19 hospital management system</title>
  
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    


    <!-- bootstrap  -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

 
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custom stylesheet -->
    <link
      rel="stylesheet"
      href="{% static 'styles/base.css' %}"
      type="text/css"
    />

    <!-- jquery autocomplete css -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/hospital3.png' %}" />
    
    <!-- google api font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- .autocomplete -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="{% static 'scripts/state_city.js' %}"></script>

    <title>{% block title %} AppName {% endblock %}</title>
  </head>
<style>
  .seperator{
    border-bottom: 1px !important;
    border-color: black;
    border-style:groove !important;
  }
  .img-circle {
    border-radius: 50%;
}

</style>
  <body>

<!-- vertical-nav starts here -->
<div class="vertical-nav" id="sidebar">

	<!-- staff profile -->
	<!-- <div class="py-4 px-3 mb-4">
		<div class="media d-flex align-items-center">
			<div class="media-body text-white">
      {% if request.user.is_authenticated %}
				<p class="font-weight-normal mb-0">
					Role: {% if request.user.is_superuser == True %}
        Admin
        {% elif request.user.is_superuser == False and request.user.is_staff == True  %}
          Staff
      {% endif %}
				</p>
        {% endif %}
			</div>
		</div>
	</div> -->

	<!-- greeting -->
  
	<p class="py-4 px-4 mb-2 text-white font-weight-bold px-3 pb-4 mb-0">
    {% if request.user.is_authenticated == True%}
    {% block admin_pic %}
    {{user.username}} 
    Admin
    {% endblock %}
    {%else%} 
    <img class="img-circle" src="{% static 'images/visitor.png' %}" alt="" width="50px" height="50px" style="margin-right: 15px;">
    Visitor 
    {%endif%}
	</p> 

  <!-- {% if request.user.is_authenticated == True %}
  <div class="profile py-1 px-5 mb-2 ">

    <img src="{% static 'images/DotheFive.jpg' %}" alt="" width="100px" height="100px" >

  </div> -->


  {%endif%}
	<!-- refirect dashboard -->
	<p class="text-gray font-weight-bold">
		<a href="{% url 'dashboard2' %}" class="nav-link text-white">
			<i class="fa fa-dashboard mr-3 text-primary" ></i> Dashboard</a>
	</p>

	<ul class="nav flex-column mb-0">

    <li class="nav-item">
			<a href="{% url 'view_ur_patient' %}" class="nav-link text-white">
				<i class="fa fa-heartbeat mr-3 text-primary fa-fw"></i>View Your Patient List 
			</a>
		</li>
    <!-- <li class="nav-item">
			<a href="{% url 'add_bed' %}" class="nav-link text-white">
				<i class="fa fa-bed mr-3 text-primary fa-fw"></i>Add Bed
			</a>
    </li>
    <li class="nav-item">
			<a href="{% url 'view_bed' %}" class="nav-link text-white">
				<i class="fa fa-bed mr-3 text-primary fa-fw"></i>View Bed List
			</a>
    </li> -->
    <li class="nav-item">
			<a href="{% url 'edit_profile_doctor' %}" class="nav-link text-white">
				<i class="fa fa-user mr-3 text-primary fa-fw"></i>Edit Profile
			</a>
    </li>
   
    <li class="nav-item">
      <a href="{% url 'info' %}" class="nav-link text-white">
        <i class="fa fa-plus mr-3 text-primary fa-fw"></i>Info
      </a>
    </li>
    
		<li class="nav-item">
			<a href="{% url 'logout' %}" class="nav-link text-white">
				<i class="fa fa-sign-out mr-3 text-primary fa-fw"></i>Logout
			</a>
		</li>
	</ul>
</div>  
    <!-- end of verical nav -->

    <div class="page-content p-5" id="content">
        <!-- toggle button -->
        <!-- <button id="sidebarCollapse" class="btn btn-light bg-dark rounded-pill shadow-sm px-4 mb-4" type="button">
            <i class="fa fa-bars mr-2 text-primary"></i>
            <small class="font-weight-bold text-primary">
                Toggle
            </small>
        </button>
		 -->
		<h2 class="display-4 ">{% block contentTitle %}{% endblock contentTitle %}
		</h2>

		<div class="seperator mt-1 mb-4"></div>
		{% block content %}
			<div class="container-fluid">
				
				<!-- Content Row -->
				<div class="row">
				</div>
			</div>
		{% endblock content %}
			
    </div>
    
        <!-- boostrap js links -->
    
    <script src="{% static 'scripts/state_city.js' %}"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"
    ></script>
      <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></script>
    <script src="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css"></script> -->


    
    <!-- autocomplete scripts -->
    <script>
      /*
      $( "#tags" ).autocomplete({
      source: availableTags
    });
    */
    // $( function() {
    //   $( "#id_name" ).autocomplete({
    //   	source: "{% url 'autosuggest' %}"
    // });
  	// });

    // $( function() {
    //   $( "#doctor" ).autocomplete({
    //   	source: "{% url 'autodoctor' %}"
    // });
  	// });
    </script>

    <!-- {% comment %} custom js file {% endcomment %} -->
    <script src="{% static 'scripts/base.js' %}"></script>
  </body>
</html>
