{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
	<!-- {{request.user}} -->
  Edit Profile
{% endblock contentTitle %}

{% block admin_pic %}

<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}

{% endblock admin_pic %}

{% block content %}
<style>
    .form-check-label{
        margin-top: 10px;
		padding-right: 50px;

    }
    input[type="file"] {
      display: block;
    }
	.imageThumb {
	  height: 200px; 
	  margin-right: 10px;
      border: 2px solid;
      padding: 1px;
      /* cursor: pointer; */
    }

    .pip {
      display: flow-root;
      margin: 10px 10px 0 0;
    }

    .input-group, .asColorPicker-wrap {
      margin-top: 15px;
    }

    .remove {
      display: block;
      background: #444;
      border: 1px solid black;
      color: white;
      text-align: center;
      cursor: pointer;
      width: 110px;
    }

    .remove:hover {
      background: white;
      color: black;
    }

</style>

		<form class="form" action="" method="post" id="adduser-form"  enctype="multipart/form-data">
		{% csrf_token %}
			<div class="container">
				<div class="patient-form">
					<div class="row">
						<div class="col-md-7 form-field mt-4 mb-0">
						<label for="mobile" style="width: 470px;"><h6>Userame</h6>
						<input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name" value="{{user.username}}">
						</label>
						<small id="name_error" class="error-sm d-flex" ></small>

						</div>

						<input type="hidden" id="edit_id" value="{{user.id}}" >

                        <div class="col-md-7 form-field mt-4 mb-0">
                            <label for="mobile" style="width: 470px;"><h6>First Name</h6>
                            <input type="text" id="first_name" class="input-text" type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}">
                            </label>
                            <small id="first_name_error" class="error-sm d-flex" ></small>
    
                        </div>

                        <div class="col-md-7 form-field mt-4 mb-0">
                            <label for="mobile" style="width: 470px;"><h6>Last Name</h6>
                            <input type="text" id="last_name" class="input-text" type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}">
                            </label>
                            <small id="last_name_error" class="error-sm d-flex" ></small>
    
                        </div>
						
						<div class="col-md-7 form-field mt-4 mb-0">
							<label for="email"  style="width: 470px;"><h6>Email Address</h6>
							<input
								type="text"
								class="input-text"
								name="email"
								id="email"
								value="{{user.email}}"
                placeholder="Email Address"
							/>
							<small id="email_error" class="error-sm d-flex" ></small>

						</div>
						<!-- <div class="col-md-7 form-field mt-4 mb-0">
							<label for="img"  style="width: 470px;"><h6>Profile Pic</h6>
							
							<img  src=""width="200px" height="200px" style="margin-bottom: 20px;margin-top: 20px;" id="output"/> <br>
							<input id='profile_image' name='profile_image' type="file" accept="image/*" onchange="loadFile(event)">
				
							<img src="/images/{{pic.location}}" id="profile_image_hidden_img" style="height: 100px; width: 200px;">
                       
							<input type="hidden" id="profile_image_hidden" name="profile_image" value="" />
							
							<input type="file" id="profile_image" name="profile_image" class="file-upload-default image_upload"
							  accept="image/png, image/jpg, image/jpeg" hidden>
							 
							<div class="input-group col-sm-6">
							  <input type="text" class="form-control file-upload-info" name="profile_image" disabled placeholder="Change Photo">
							  <span class="input-group-append">
								<button class="file-upload-browse btn btn-primary" style="height: 50px;"
								  type="button">Change</button>
							  </span>
							</div>

						</div> -->
						
						
            <div class="col-md-6" style="margin-top: 30px;">
							  	
              <img {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%} src="{% static '/images/visitor.png' %}" {% endif %} id="profile_image_hidden_img" style="height: 200px; width: 200px;">
               
              <input type="hidden" id="profile_image_hidden" name="profile_image" value="" />
              
              <input type="file" id="profile_image" name="profile_image" class="file-upload-default image_upload"
                accept="image/png, image/jpg, image/jpeg" hidden>
                <br><label style="margin-top: 10px;">Upload Photo</label>
              <div class="input-group " style="width:300px;">
                <input type="text" class="form-control file-upload-info" name="profile_image" disabled placeholder="Change Photo">
                <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" style="height: 50px;background-color:#203A43;border-color:#203A43 ;"
                  type="button">Change</button>
                </span>
              </div>
            
              
              </div>
      <div>
        
      </div>
      <div class="col-md-12">
        <button id="submit" name="submit" type="submit" class="btn btn-lg btn-success btn-block mx-auto" style="margin-top: 20px;width:300px; " href="/">
          <i class="glyphicon glyphicon-ok-sign"></i> Save
        </button>
      </div>
        
  
		

			
			</div>
	 	</div>
		 </div>
		 </form>
		 <script src="{% static 'scripts/file-upload.js' %}"></script>
		 <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.17/dist/browser-image-compression.js"></script>


<!-- <script>
	var loadFile = function(event) {
	  var reader = new FileReader();
	  reader.onload = function(){
		var output = document.getElementById('output');
		output.src = reader.result;
	  };
	  reader.readAsDataURL(event.target.files[0]);
	};
  </script> -->
<script>
	  $(document).ready(function () {
		var image_array = {};
        var image_array2 = {}

        if (window.File && window.FileList && window.FileReader) {
          $(".image_upload").on("change", function (e) {
            var files = e.target.files,
              filesLength = files.length;
            console.log('image-------', $(this).attr('id'))
            for (var i = 0; i < filesLength; i++) {
              var f = files[i]
              var id = $(this).attr('id')
              var fileReader = new FileReader();
              var baseString;
              fileReader.onload = (function (e) {
                // fileReader.result
                console.log('filereader', fileReader.result)
                $(`#${id}_hidden`).val(fileReader.result)
                var file = e.target;
                $(`#${id}_hidden_img`).hide();
                $(`#${id}_remove`).hide();
                $(`<span class=\"pip\" id="${id}_remove">` +
                  "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                  "<br/><span class=\"remove\">Remove image</span>" +
                  "</span>").insertAfter(`#${id}`);
                $(".remove").click(function () {
                  $(this).parent(".pip").remove();
                });

                // Old code here
                /*$("<img></img>", {
                  class: "imageThumb",
                  src: e.target.result,
                  title: file.name + " | Click to remove"
                }).insertAfter("#files").click(function(){$(this).remove();});*/

              });
              fileReader.readAsDataURL(f);
            }
            console.log(files);
          });
        } else {
          alert("Your browser doesn't support to File API")
        }
  });

      function getBaseUrl(val) {
        var id = '#' + val;
        var file = document.querySelector(id)['files'][0];
        var reader = new FileReader();
        var baseString;
        reader.onloadend = function () {
          var hidden_id = id + '_hidden';
          baseString = reader.result;
          $(hidden_id).val(baseString);
        };
        reader.readAsDataURL(file);
      }

</script>
<script>

	$('#adduser-form').on('submit',function(e){
     
	 e.preventDefault();     
	 $("[id$='_error']").empty()
	 var id = $('#edit_id').val()
	 $.ajax({
	   url: '/edit_profile_admin/', 
	   type: "POST",
	   data: $(this).serialize(),
		 success: function(result){
		 setTimeout(() => window.location.href= '/' ,500)
		 },
		 
		 error: function(response){
		   // document.getElementById("submit").disabled = false;
		   console.log("response: ",response)

		   let error = response.responseJSON.error
		   console.log(error)
		   console.log("res : ",error);
		   $('#error_name').text(error.name)
		   $.each(error, function (k, v) {
			 console.log("error in create in only k :", k, v);
			 $('#' + k + '_error').text(v);
			 
		   });
		   

		 }

	 });
 })
 

</script>
{% endblock content %}