{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />

        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

        <!-- bootstrap  -->
        
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
        />
        
        <!-- font-awesome -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous"
        />
        
        
        <!-- google api font -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

        {% comment %} <link rel="stylesheet" href="info.css"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'styles/info.css' %}">
        <title>Infomation Page</title>
    </head>

    <body>
        <div class="title-body"></i>
            <a {% if show_doctor == True %} href="{%url 'dashboard2'%}" {%else%} href="{%url 'dashboard'%}" {%endif%} ><i class="fa fa-home"></i> Home</a>
            <h3> <a href="https://www.mygov.in/covid-19"> Covid 19 Information</a></h3>
            <div class="heading">
                <p>
                    Stay Home.<br>
                    Stay Safe.
                </p>
            </div>
            <img src="{% static 'images/people-wearing-mask.png' %}" alt="">
            <img href="{% static 'images/WHO.svg' %}"></img>
        </div>
        
        <div class="background-image"></div>

        <div class="container">
            <div class=" row">
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="item-container">
                        <img src="{% static 'images/WHO.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <a class="d-flex flex-column align-items-center justify-content-center p-3 block" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                    <div class="label">WHO</div>
                    <div class="description"> Check out the latest guidelines set by the World Health Organisation.</div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <a class="d-flex flex-column align-items-center justify-content-center p-3 block" href="https://www.cowin.gov.in/">
                    <div class="label"><img src="{% static 'images/cowin.png' %}" alt=""></div>
                    <div class="description">"India is set to defeat Covid-19. <br>
                        Every Indian is making it possible." <br>
                        - PM Narendra Modi</div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="item-container">
                        <img src="{% static 'images/DotheFive.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="item-container">
                        <img src="{% static 'images/national-emblem-of-india.png' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <a class="d-flex flex-column align-items-center justify-content-center p-3 block" href="https://www.mohfw.gov.in/">
                    <div class="label">Government of India</div>
                    <div class="description">Guidelines given by the gov. of India.</div>
                    </a>
                </div>
            </div>
        </div>          
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</html>
