{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />

        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

        <!-- bootstrap  -->
        
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
        />
        
        <!-- font-awesome -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous"
        />
        
        
        <!-- google api font -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="{% static '/styles/login.css' %}" >
        <title>Login</title>
    </head>

    <body id="bootstrap-overrides">


        <div class="container">

            <h3 class="heading">Login</h3>
            <div class="login-form">
                <form method="post" id="login-form"  action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="username">
                        <div class="name row">
                            <i class="fas fa-user col-2"></i>
                            
                            <input id="username" class="input-text col-9" type="text" name="username" value="{{username}}" placeholder="Username">
                            
                        </div>
                        <small id="username_error" class="error-sm d-flex" ></small>
                    </div>
                
                    <div class="password">
                        <div class="pass row">
                            <i class="fas fa-lock col-2"></i>
                            <input id="password" class="input-text col-9" type="password" name="password" value="{{password}}" placeholder="Password">  
                        </div>
                        <small id="password_error" class="error-sm d-flex" ></small>
                    </div>
                    
                    <div class="rememberme" >
                        <div class="rememberme row">
                            <label class="col-9">
                              <input type="checkbox" id="is_remember_check" name="is_remember_check" class="col-3" checked> Remember Me</label>
                        </div>
                    </div>
                    <div class="submit-button row">
                        <div class="form-field col-lg">
                            <button id="submit" name="submit" type="submit"  class="submit-btn btn btn-block" style="margin: 10px auto 0;margin-bottom:20px;">Submit</button>
                        </div>
                    </div>
                    <div >
                        <div class="row">
                            <a href="/forgot_password/" style="padding-inline-start: 135px;color:black;font-size:small;margin-top: 10px;">Forgot Password</a>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script>
        
          $('#login-form').on('submit',function(e){
       
                e.preventDefault();     
                $("[id$='_error']").empty()
                console.log("called",$('#username').val());
                $.ajax({
                  url: '/login/', 
                  type: "POST",
                  data: $(this).serialize(),
                    success: function(result){
                        console.log("result: ",result);
                        if(result.success){
                            let url = result.url == 'dashboard' ? "{% url 'dashboard' %}" : "{% url 'dashboard2' %}"
                            setTimeout(() =>{
                                window.location.href= url
                            } ,1000)
                }

                    // setTimeout(() => window.location.href= '/' ,500)
                    },
                    
                    error: function(response){
                    //   document.getElementById("submit").disabled = false;
                      console.log("response: ",response)
      
                      let error = response.responseJSON.error
                      console.log(error)
                      console.log("res : ",error);
                      $('#error_name').text(error.name)
                      $.each(error, function (k, v) {
                        console.log("error in create in only k :", k, v);
                        $('#' + k + '_error').text(v);
                        
                      });
                      
        
                    }
      
                });
            })
    
        
      </script>
</html>