{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    <!-- {{patient.name}}, {{patient.bed_num}} -->
	Edit Patient Details
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}
    {% comment %} patient details at registration(profile card) {% endcomment %}
    {% comment %} download btn {% endcomment %}
    {% comment %} report file upload {% endcomment %}

    {% comment %} <div class="row">
  	<div class="col-md-3">
	<!--left col-->
		<div class="text-center">
		<img
			src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
			class="avatar img-circle img-thumbnail"
			alt="avatar"
		/>
		<h6>Upload a different photo...</h6>
		<input type="file" class="text-center center-block file-upload" />
		</div>
	  </div> 
	  {% endcomment %}

		<form id="updatepatient-form" action="" method="post" >
		{% csrf_token %}
			<div class="container">
				<div class="patient-form">
					<div class="row">
						<div class="col-md-6 form-field mt-4 mb-0">
							<label for="name"><h6>Patient's Name</h6>
							<input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name" value="{{patient.name}}" style="width: 400px;">
							</label>
							<small id="name_error" class="error-sm d-flex" ></small>
						</div>
						<input type="hidden" id="edit_id" value="{{patient.id}}" >
						
						<div class="col-md-6 form-field mt-4 mb-0">
							<label for="phone_num"><h6>Patient's Contact No.</h6>
							<input type="text" id="phone_num" class="input-text" type="text" name="phone_num" placeholder="Name" value="{{patient.phone_num}}" style="width: 400px;"
							oninput="this.value = this.value.replace(/[^0-9,-/]/g, '').replace(/(\..*?)\..*/g, '$1');">
							</label>
							<small id="phone_num_error" class="error-sm d-flex" ></small>

						</div>
		

						<div class="col-md-6 form-field mt-4 mb-0">
						<label for="mobile" class="mb-0"><h6>Relative's contact</h6>
						<input type="text" id="mobile2" class="input-text" type="text" name="mobile2" placeholder="Mobile No" value="{{patient.patient_relative_contact}}" style="width: 400px;"
						oninput="this.value = this.value.replace(/[^0-9,-/]/g, '').replace(/(\..*?)\..*/g, '$1');">
						</label>
						<small id="mobile2_error" class="error-sm d-flex" ></small>

						</div>

						<div class="col-md-6 form-field mt-4 mb-0">
						<label for="relativeName" class="mb-0"><h6>Relative's Name</h6>
						<input
							type="text"
							class="input-text"
							name="relativeName"
							id="realtiveName"
							value="{{patient.patient_relative_name}}" style="width: 400px;"
							/>
						</label>
						<small id="relativeName_error" class="error-sm d-flex" ></small>

						</div>
					<!-- </div>	 -->
					<div class="col-md-6 form-field mt-4 mb-2" style="padding-top:15px;">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Gender</label>
							<div class="col-sm-4">
							  <div class="form-check">
								<label class="form-check-label" style="padding-top:5px;"> 
								  <input type="radio" class="form-check-input" name="gender" id="male" value="Male" {% if patient.gender == 'Male' %} checked {% endif %}
									>Male</label>
							  </div>
							</div>
							<div class="col-sm-5" style="padding-top:5px;">
							  <div class="form-check">
								<label class="form-check-label">
								  <input type="radio" class="form-check-input" name="gender" id="female" {% if patient.gender == 'Female' %} checked {% endif %}
									value="Female">Female</label>
							  </div>
							</div>
						  </div>
						</div>
					<!-- <div class="row">	 -->
						<div class="col-md-6 form-field mt-4 md-0">
						<label for="address" class="mb-0 mt-0"><h6>Address</h6></label>
						<input
							type="address"
							class="input-text"
							id="location"
							placeholder="address"
							name="location"
							title="enter a location"
							value="{{patient.address}}"
							style="width: 400px;"
						/>
						<small id="location_error" class="error-sm d-flex" ></small>

						</div>
						<!-- </div> -->
						<div class="col-md-12 form-field mt-1 md-0">
							<h6>Prior ailments</h6>
							<input type="text" id="prior_ailments" name="prior_ailments"  class="input-text" value="{{patient.prior_ailments}}"
							placeholder="Prior ailments if any, eg: Diabetes, Thyroid">
							<small id="prior_ailments_error" class="error-sm d-flex" ></small>

						</div>

						<div class="col-md-6 form-field mt-1 md-0">
							<label for="doctor" class="mb-0">
							<h6>Doctor Assigned: </h6>
							</label>
							<select class="input-text"  name="doctor" id="doctor" value={{patient.doctor}}>
								<option value="">Select Doctor</option>
								{% for doctor in doctors %}
									<option class="" value="{{doctor}}">{{doctor}}</option>
								{% endfor %}
							</select>
							<small id="doctor_error" class="error-sm d-flex" ></small>
	
						</div>


						<div class="datepicker col-md-6 form-field mt-1 md-0">
							<h6>Dob</h6>
							<input type="date" name="dob" id="dob" class="input-text" value="{{patient.dob | date:'c'}}">
							<small id="dob_error" class="error-sm d-flex" ></small>

						</div>

						<div class="col-md-6 form-field mt-1 md-0">
							<label for="status" class="mb-0">
						   <h6>Status</h6></label>
						   <select class="input-text"  name="status" id="status" value={{patient.status}}>
							   <option value="">Select Status</option>
							   <option class="bg-warning text-white" value="Observation">Observation</option>
							   <option class="bg-danger text-white" value="Critical">Critical</option>
							   <option class="bg-warning text-white" value="Recovering">Recovering</option>
							   <option class="bg-success text-white" value="Recovered">Recovered</option>
							   <option class="bg-secondary text-white" value="Deceased">Deceased</option>
						   </select>
						   <small id="status_error" class="error-sm d-flex" ></small>

					   </div>


						<div name="myDiv" id="myDiv" class="col-md-6 form-field mt-1 md-0">
							<h6>Bed number</h6>
							<select name="bed_num" class="btn btn-bed" id="bed_num" style="width: 100%;" >
								<option selected value="{{patient.bed_num}}">{{patient.bed_num}}</option>
								<!-- {% for bed in beds %}
									<option value="{{bed}}">{{ bed }}</option>
								{% endfor %} -->
								</select>
								<small id="bed_num_error" class="error-sm d-flex" ></small>

						</div>

						

					

					 
						
					<div class="patient-form row d-flex">
						<div class="symptoms row">
						<div class="symptoms-label col-12 text-center mt-0" > <b> Symptoms</b></div><br>
						
						<!-- <div class="row"> -->
							<div class="common-symptoms col-md-4">
								<label for="" class="symptom-type"><b>Common</b> </label><br>
					
								<div class="symptom">
								<input type="checkbox" name="symptoms" id="fever"  class="checkbox"
								{% if "Fever" in  patient.comman_symptoms %} checked {%endif%} value="Fever">
								<label for="fever">Fever</label><br>
								</div>
								<div class="symptom">
								<input type="checkbox" name="symptoms"  id="dry_cough"
								{% if "Dry Cough" in  patient.comman_symptoms %}  checked {%endif%} value="Dry Cough">
								<label for="">Dry cough</label><br>
								</div>
								<div class="symptom">
								<input type="checkbox" name="symptoms" id="tiredness"
								{% if "Tiredness" in  patient.comman_symptoms %} checked {%endif%} value="Tiredness">
								<label for="">Tiredness</label><br>
								</div>
								
							</div>
						
							<div class="less-common-symptoms col-md-4">
							<div>
								<label for="" class="symptom-type"> <b>Less Common</b> </label><br>
								
								<div class="symptom">
								<input type="checkbox" name="symptoms2"  id="aches_and_pain"
								{% if  "Aches and pains" in patient.less_symptoms %} checked {%endif%} value="Aches and pains">
								<label for="aches_and_pain">Aches and pains</label><br>
								</div>
				
								<div class="symptom">
								<input type="checkbox" name="symptoms2"  id="sore_throat"
								{% if "Sore Throat" in patient.less_symptoms %} checked {%endif%}  value="Sore Throat">
								<label for="sore_throat">Sore throat</label><br>
								</div>
		
								<div class="symptom">
								<input type="checkbox" name="symptoms2"  id="diarrhoea"
								{% if "Diarrhoea" in patient.less_symptoms %} checked {%endif%}  value="Diarrhoea">
								<label for="diarrhoea">Diarrhoea</label><br>
								</div>
		
								<div class="symptom">
								<input type="checkbox" name="symptoms2"  id="loss_of_taste_or_smell"
								{% if "Loss of taste or smell" in patient.less_symptoms %} checked {%endif%} value="Loss of taste or smell">
								<label for="loss_of_taste_or_smell">Loss of taste or smell</label><br>
								</div>
							</div>
							</div>
							
							<div class="serious-symptoms col-md-4">
								<label for="" class="symptom-type"> <b>Serious</b> </label><br>
				
								<div class="symptom">
									<input type="checkbox" name="symptoms3"  id="difficulty_in_breathing_or_shortness_of_breath"
									{% if "Difficulty in breathing or shortness of breath" in patient.serious_symptoms %}  checked {%endif%} value="Difficulty in breathing or shortness of breath">
									<label for="difficulty_in_breathing_or_shortness_of_breath"> Difficulty in breathing or <br> shortness of breath</label><br>
								</div>
								<div class="symptom">
								<input type="checkbox" name="symptoms3" id="chest_pain_or_pressure" 
								{% if "Chest pain or pressure" in patient.serious_symptoms%}  checked {%endif%} value="Chest pain or pressure">
								<label for="chest_pain_or_pressure">Chest pain or pressure</label><br>
								</div>
								<div class="symptom">
								<input type="checkbox" name="symptoms3"  id="loss_of_speech_or_movement" 
								{% if "Loss Of Speech Or Movement" in patient.serious_symptoms %}  checked {%endif%}  value="Loss Of Speech Or Movement">
								<label for="loss_of_speech_or_movement">Loss of speech or <br> movement</label><br>
								</div>
							</div>  
		
		
						<!-- </div> -->
					</div>
					</div>
						
						
						

					

						<!-- <div class="col-md-6">
							<label for="doctor_time" class="mb-0 mt-4">
							<h6>Doctor Visiting Time: </h6>
							</label>
							<input
								type="text"
								class="input-text"
								name="doctor_time"
								id="doctor_time"
								value="{{patient.doctors_visiting_time}}"
							/>
						</div> -->

						<!-- <div class="col-md-6">
							<label for="doctor_notes" class="mb-0 mt-4">
							<h6>Doctor Notes: </h6>
							</label>
							
							<textarea
								class="input-text"
								name="doctor_notes"
								id="doctor_notes"
								{{patient.doctors_notes}}
							>{{patient.doctors_notes}}</textarea>
						
						</div> -->

					</div>
				</div>
			</div>
		
		<div class="form-group">
			<div class="col-md-5 mx-auto">
			<br />
			<button id="submit" name="submit"  type="submit" class="btn btn-lg btn-success btn-block mx-auto" >
				<i class="glyphicon glyphicon-ok-sign"></i> Save
			</button>

			
			</div>
	 	</div>
		 </form>
		 <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
		 <script>
			 $('#bed_num').click(function(){
				// var id = $('#status').val()
				var status = $( "#status option:selected" ).text();

				 console.log('----',status)
				 var id = $('#edit_id').val()
				 request_url = '/json_bed_edit/'+ id +'/';
			 	 
				 $.ajax({
					 url: request_url,
					 dataType : 'json',
					 success: function(data){
						 console.log(data)
						 var toAppend = '';
						 	if(status == 'Critical'){
								$('#bed_num').value;
							 }
							else if(status == 'Recovering' || status == 'Observation'){
								$('#bed_num').value;
							 }
							else if(status == 'Recovered'){
								$('#myDiv').hide();

								//  $('#bed_num').empty(); 

								//  toAppend += '<option>'+'Patient is Recovered'+'</option>';
							 }
							else if(status == 'Deceased'){
								$('#myDiv').hide();

								// $('#bed_num').empty(); 

								//  toAppend += '<option>'+'Patient is Deceased'+'</option>';
							 }
						
						
							 $.each(JSON.parse(data),function(i,o){
							 if (status == 'Critical'){
								 var getCat= o.categories;
								 if (getCat == 'Ventilator'){
								 toAppend += '<option>'+o.bed_number+'</option>';
								 }
							 }
							 else if(status == 'Recovering' || status == 'Observation'){
								 var getCat= o.categories;
								 if (getCat == 'Simple'){
								 toAppend += '<option>'+o.bed_number+'</option>';
								 }
							 }
							 });
							 // if(status == 'Recoverd')
							 $('#bed_num').empty(); 
							 $('#bed_num').append(toAppend);
					 }
				 });      
			 });
			$('#status').change(function(){
            status = $(this).val();
            request_url = '/json_bed/';
            
            $.ajax({
                url: request_url,
                dataType : 'json',
                success: function(data){
                    console.log(data)
                    var toAppend = '';
                        
                        if(status == 'Recovered'){
							$('#myDiv').hide();
							// $('#bed_num').empty(); 
                            // toAppend += '<option>'+'Patient is Recovered'+'</option>';
                        }
                        else if(status == 'Deceased'){
							$('#myDiv').hide();
							// $('#bed_num').empty(); 

                            // toAppend += '<option>'+'Patient is Deceased'+'</option>';
                        }
                        else{
							$('#myDiv').show();
                        	toAppend += '<option>'+'Select Bed Number'+'</option>';
                        }

                        $.each(JSON.parse(data),function(i,o){
                        if (status == 'Critical'){
                            var getCat= o.categories;
                            if (getCat == 'Ventilator'){
                            toAppend += '<option>'+o.bed_number+'</option>';
                            }
                        }
                        else if(status == 'Recovering'){
                            var getCat= o.categories;
                            if (getCat == 'Simple'){
                            toAppend += '<option>'+o.bed_number+'</option>';
                            }
                        }
                        });
                        // if(status == 'Recoverd')
                        $('#bed_num').empty(); 
                        $('#bed_num').append(toAppend);
                }
            });      
        });
			 
		 </script>
		 <script>
        	$('select[name^="status"] option[value="{{patient.status}}"]').attr("selected","selected");
        	$('select[name^="doctor"] option[value="{{patient.doctor}}"]').attr("selected","selected");
			$('select[name^="bed_num"] option[value="{{patient.bed_num}}"]').attr("selected","selected");

			$('#updatepatient-form').on('submit',function(e){
		 
				  e.preventDefault();     
				  $("[id$='_error']").empty()
				  var id = $('#edit_id').val()
				  $.ajax({
					url:'/patient_list/patient/' + id +'/' , 
					type: "POST",
					data: $(this).serialize(),
					dataType: 'json',
					success: function(result){
					  setTimeout(() => window.location.href= '/patient_list_admin/' ,500)
					  },
					  
					  error: function(response){
						// document.getElementById("submit").disabled = false;
						console.log("response: ",response)
		
						let error = response.responseJSON.error
						console.log(error)
						console.log("res : ",error);
						$('#error_name').text(error.name)
						$.each(error, function (k, v) {
						  console.log("error in create in only k :", k, v);
						  $('#' + k + '_error').text(v);
						  
						});
						
		  
					  }
		
				  });
			  })
	  
		  
		</script>  
{% endblock content %}