{% extends 'main/base.html' %}
{% load static %}
	
{% block contentTitle %}
	<!-- {{users.name}} -->
	Edit User Details
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}
<style>
    .form-check-label{
        margin-top: 10px;
		padding-right: 50px;

    }
	.imageThumb {
      height: 200px;
      border: 2px solid;
      padding: 1px;
      cursor: pointer;
    }

    .pip {
      display: inline-block;
      margin: 10px 10px 0 0;
    }

    .input-group, .asColorPicker-wrap {
      margin-top: 15px;
    }

    .remove {
      display: block;
      background: #444;
      border: 1px solid black;
      color: white;
      text-align: center;
      cursor: pointer;
      width: 110px;
    }

    .remove:hover {
      background: white;
      color: black;
    }
</style>

		<form class="form" action="" method="post" id="adduser-form">
		{% csrf_token %}
			<div class="container">
				<div class="patient-form">
					<div class="row">
						<div class="col-md-7 form-field mt-4 mb-0">
						<label for="mobile" style="width: 470px;"><h6>Name</h6>
						<input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name" value="{{users.name}}">
						</label>
						<small id="name_error" class="error-sm d-flex" ></small>

						</div>

						<input type="hidden" id="edit_id" value="{{users.id}}" >


						<div class="offset-md-2 col-md-4 form-field mt-4 mb-0">
						<label for="mobile" style="width: 300px;"><h6>Phone No</h6>
						<input type="text" id="phone_num" class="input-text" type="text" name="phone_num" placeholder="Phone No" value="{{users.phone_num}}">
						</label>
						<small id="phone_num_error" class="error-sm d-flex" ></small>

						</div>
					<!-- </div>	 -->
					<div class="col-md-7 form-field mt-4 mb-0">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Gender</label>
							<div class="col-sm-4">
							  <div class="form-check">
								<label class="form-check-label">
								  <input type="radio" class="form-check-input" name="gender" id="male" value="Male" {% if users.gender == 'Male' %} checked {% endif %}
									>Male</label>
							  </div>
							</div>
							<div class="col-sm-5">
							  <div class="form-check">
								<label class="form-check-label">
								  <input type="radio" class="form-check-input" name="gender" id="female" {% if users.gender == 'Female' %} checked {% endif %}
									value="Female">Female</label>
							  </div>
							</div>
						  </div>
						</div>

						<div class="offset-md-3 col-md-5 form-field mt-4 mb-0">
						<label for="dob" style="width: 300px;"><h6>Date of birth</h6>
							<input type="date" id="dob" class="input-text" name="dob"  value="{{users.dob | date:'c'}}">	
							
						</label>
						<small id="dob_num_error" class="error-sm d-flex" ></small>

						</div>
					<!-- <div class="row">	 -->
						<div class="col-md-6 form-field mt-0">
						<label for="address" style="margin-top: 20px;"><h6>Address</h6></label>
						<input
							type="address"
							class="input-text"
							id="address"
							placeholder="address"
							name="address"
							title="enter a location"
							value="{{users.address}}"
						/>
						<small id="address_error" class="error-sm d-flex" ></small>

						</div>
						<!-- </div> -->
						
						<div class="col-md-6 form-field mt-0">
							<label for="email" style="margin-top: 30px;margin-left: 85px; width: 300px;"><h6>Eamil Address</h6>
							<input
								type="text"
								class="input-text"
								name="email"
								id="email"
								value="{{users.email}}"
							/>
							<small id="email_error" class="error-sm d-flex" ></small>

						</div>
			
						<div class="col-md-6">
						 	<label for="inputState" class="mb-0" style="margin-top: 20px;">
							<h6>State</h6></label>
							<select name="state" class="input-text" id="inputState" value="{{users.state}}" style="color: black;">
								<option value="SelectState">Select State</option>
								<option value="Andra Pradesh">Andra Pradesh</option>
								<option value="Arunachal Pradesh">Arunachal Pradesh</option>
								<option value="Assam">Assam</option>
								<option value="Bihar">Bihar</option>
								<option value="Chhattisgarh">Chhattisgarh</option>
								<option value="Goa">Goa</option>
								<option value="Gujarat">Gujarat</option>
								<option value="Haryana">Haryana</option>
								<option value="Himachal Pradesh">Himachal Pradesh</option>
								<option value="Jammu and Kashmir">Jammu and Kashmir</option>
								<option value="Jharkhand">Jharkhand</option>
								<option value="Karnataka">Karnataka</option>
								<option value="Kerala">Kerala</option>
								<option value="Madya Pradesh">Madya Pradesh</option>
								<option value="Maharashtra">Maharashtra</option>
								<option value="Manipur">Manipur</option>
								<option value="Meghalaya">Meghalaya</option>
								<option value="Mizoram">Mizoram</option>
								<option value="Nagaland">Nagaland</option>
								<option value="Orissa">Orissa</option>
								<option value="Punjab">Punjab</option>
								<option value="Rajasthan">Rajasthan</option>
								<option value="Sikkim">Sikkim</option>
								<option value="Tamil Nadu">Tamil Nadu</option>
								<option value="Telangana">Telangana</option>
								<option value="Tripura">Tripura</option>
								<option value="Uttaranchal">Uttaranchal</option>
								<option value="Uttar Pradesh">Uttar Pradesh</option>
								<option value="West Bengal">West Bengal</option>
								<option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
								<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
								<option value="Chandigarh">Chandigarh</option>
								<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
								<option value="Daman and Diu">Daman and Diu</option>
								<option value="Delhi">Delhi</option>
								<option value="Lakshadeep">Lakshadeep</option>
								<option value="Pondicherry">Pondicherry</option>
							  </select>  
							  <small id="state_error" class="error-sm d-flex" ></small>

						</div>

						<div class="col-md-6">
							<label for="inputDistrict"class="mb-0" style="margin-left: 83px; margin-top: 20px; width: 300px;">
							<h6>City</h6>
							<!-- <div>{{user.city}}</div> -->
							<select name="city" class="input-text" id="inputDistrict"  value={{users.city}} style="color: black;">
							

							</select>
							<small id="city_error" class="error-sm d-flex" ></small>

						</div>
						</div>
						<div {%if show_doctor == False %} hidden {%endif%} class="form-field col-md-6">
							<label class="mb-0" style="margin-top: 20px;">
								<h6 style="margin-left: -15px;">Specialization</h6>
                            <select name="specialization" class="input-text" id="specialization" value={{users.specialization}} style="color: black;width: 460px;margin-left: -16px;">
                               <option value="">Select Specialization</option>  
                               <option value="Cardiologists">Cardiologists</option>
                               <option value="Dentist">Dentist</option>
                               <option value="Dermatologist">Dermatologist</option>
                               <option value="General surgeon">General surgeon</option>
                               <option value="Gynaecologist">Gynaecologist</option>
                               <option value="Psychiatrist">Psychiatrist</option>
                           </select>
                           <small id="specialization_error" class="error-sm d-flex" ></small>
                           </div>

						<!-- <div class="col-md-7 mt-4 mb-0">
							<label for="img"  style="width: 470px;"><h6>Profile Pic</h6>
							
							<img  src=""width="200px" height="200px" style="margin-bottom: 20px;margin-top: 20px;" id="output"/> <br>
							<input id='profile_image' name='profile_image' type="file" accept="image/*" onchange="loadFile(event)">
				
							<img src="/images/{{user_profile.location}}" id="profile_image_hidden_img" style="height: 200px; width: 200px;margin-bottom: 30px;margin-top: 20px;">
                       
							<input type="hidden" id="profile_image_hidden" name="profile_image" value="" />
							
							<input type="file" id="profile_image" name="profile_image" class="file-upload-default image_upload"
							  accept="image/png, image/jpg, image/jpeg" hidden>
							 
							<div class="input-group col-sm-6">
							  <input type="text" class="form-control file-upload-info"  name="profile_image" disabled placeholder="Change Photo">
							  <span class="input-group-append">
								<button class="file-upload-browse btn btn-primary" style="height: 50px;"
								  type="button">Change</button>
							  </span>
							</div>

						</div> -->
					
							<div class="col-md-6" style="margin-top: 30px;">
							  	
								<img src="/images/{{user_profile.location}}" id="profile_image_hidden_img" style="height: 200px; width: 200px;">
							   
								<input type="hidden" id="profile_image_hidden" name="profile_image" value="" />
								
								<input type="file" id="profile_image" name="profile_image" class="file-upload-default image_upload"
								  accept="image/png, image/jpg, image/jpeg" hidden>
								  <br><label style="margin-top: 10px;">Upload Photo</label>
								<div class="input-group" style="width:300px;">
								  <input type="text" class="form-control file-upload-info" name="profile_image" disabled placeholder="Change Photo">
								  <span class="input-group-append">
									<button class="file-upload-browse btn btn-primary" style="height: 50px;background-color:#203A43;border-color:#203A43 ;"
									  type="button">Change</button>
								  </span>
								</div>
							
							  
							  </div>
					
				</div>
			</div>
		
		<div class="form-group">
			<div class="col-md-5 mx-auto">
			<br />
			<button id="submit" name="submit" type="submit" class="btn btn-lg btn-success btn-block mx-auto" style="margin-top: 20px;" href="/user_list/">
				<i class="glyphicon glyphicon-ok-sign"></i> Save
			</button>

			
			</div>
	 	</div>
		 </form>
<script src="{% static 'scripts/state_city.js' %}"></script>
<script src="{% static 'scripts/file-upload.js' %}"></script>
<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.17/dist/browser-image-compression.js"></script>
<script>
	$(document).ready(function () {
	  var image_array = {};
	  var image_array2 = {}

	  if (window.File && window.FileList && window.FileReader) {
          $(".image_upload").on("change", function (e) {
            var files = e.target.files,
              filesLength = files.length;
            console.log('image-------', $(this).attr('id'))
            for (var i = 0; i < filesLength; i++) {
              var f = files[i]
              var id = $(this).attr('id')
              var fileReader = new FileReader();
              var baseString;
              fileReader.onload = (function (e) {
                // fileReader.result
                console.log('filereader', fileReader.result)
                $(`#${id}_hidden`).val(fileReader.result)
                var file = e.target;
                $(`#${id}_hidden_img`).hide();
                $(`#${id}_remove`).hide();
                $(`<span class=\"pip\" id="${id}_remove">` +
                  "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                  "<br/><span class=\"remove\">Remove image</span>" +
                  "</span>").insertAfter(`#${id}`);
                $(".remove").click(function () {
                  $(this).parent(".pip").remove();
                });

                // Old code here
                /*$("<img></img>", {
                  class: "imageThumb",
                  src: e.target.result,
                  title: file.name + " | Click to remove"
                }).insertAfter("#files").click(function(){$(this).remove();});*/

              });
              fileReader.readAsDataURL(f);
            }
            console.log(files);
          });
        } else {
          alert("Your browser doesn't support to File API")
        }
	
});

	function getBaseUrl(val) {
	  var id = '#' + val;
	  var file = document.querySelector(id)['files'][0];
	  var reader = new FileReader();
	  var baseString;
	  reader.onloadend = function () {
		var hidden_id = id + '_hidden';
		baseString = reader.result;
		$(hidden_id).val(baseString);
	  };
	  reader.readAsDataURL(file);
	}

</script>
<script>
	$('select[name^="state"] option[value="{{users.state}}"]').attr("selected","selected");
    $('select[name^="city"] option[value="{{users.city}}"]').attr("selected","selected");
	$('select[name^="specialization"] option[value="{{users.specialization}}"]').attr("selected","selected");

	$(document).ready(function(){ 
	  $('#inputState').trigger('change')
	  $('#inputDistrict').val('{{users.city}}')
	})

	$('#adduser-form').on('submit',function(e){
     
	 e.preventDefault();     
	 $("[id$='_error']").empty()
	 var id = $('#edit_id').val()
	 $.ajax({
	   url: '/user_list/user_update/' + id +'/' , 
	   type: "POST",
	   data: $(this).serialize(),
		 success: function(result){
		 setTimeout(() => window.location.href= '/user_list/' ,500)
		 },
		 
		 error: function(response){
		   // document.getElementById("submit").disabled = false;
		   console.log("response: ",response)

		   let error = response.responseJSON.error
		   console.log(error)
		   console.log("res : ",error);
		   $('#error_name').text(error.name)
		   $.each(error, function (k, v) {
			 console.log("error in create in only k :", k, v);
			 $('#' + k + '_error').text(v);
			 
		   });
		   

		 }

	 });
 })
 
</script>

{% endblock content %}