{% extends 'main/base.html' %}
{% load static %}
 
    

{% block contentTitle %}
    Doctor List 
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}

<style>
    .btn-primary {
    color: #fff;
    background-color: #3a6b7b !important;
    border-color: #3a6b7b !important;
    }

    #id_name {
        width : 360px;
    }
    #id_specialization {
    margin-right: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width : 360px
    }
    label{
        display: flex;
    }
    .pagination{
    padding-left: 380px;
    }
    .dataTables_length{
        width:37%;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .dataTables_filter{
        width:70%;
        margin-left: 140px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .custom-select-sm
    {
        margin-left : 10px;
        margin-right : 10px;
    }
    .form-control-sm{
        margin-left: 10px;
    }
    .page-item.active .page-link {
    background-color: #3a6b7b;
    border-color: #3a6b7b;
    }
</style>
    <!-- Topbar Search -->
    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search mb-3" method="GET" id="user_list">
        <div class="input-group">
        {{myFilter.form}}
            <div class="input-group-append">
                <button class="btn btn-primary btn-block" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
     -->
     <div class="table-responsive mt-3">
        <table id="demo-table" class="table table-hover" style="width:100%;">
            <thead>
                <th style="padding-right:50px"><h3>Doctor Name</h3></th>
                <th style="padding-right:50px"><h3>Phone No.</h3></th>
                <th style="padding-right:50px"><h3>Specialization</h3></th>
                <th><h3>Action</h3></th>
            </thead>

            <tbody>
                <!-- {% for i in doctor %}

                <tr class="mx-auto">
                    <td scope="row"><h5>{{ i.name }}</h5></td>
                    <td><h5>{{ i.phone_num }}</h5></td>
                    <td><h5>{{ i.specialization }}</h5></td>
                    <td><a href="/update_doctor/{{i.id}}/" class="btn btn-purple"><h5>Update</h5></a></td>
                </tr>
    
                {% endfor %} -->
                
            </tbody>
        </table>
    
    </div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script language="javascript">
    $(document).ready(function () {
      $('#demo-table').DataTable({
        serverSide: true,
        Processing : true,
        
        sAjaxSource: "/doctor_master_data",  // new url
       
        columns: [
          
          { name: "name", data: 0 ,"bSortable": true},
          { name: "phone_num", data: 1, "bSortable": false},
          { name: "specialization", data: 2, "bSortable": false},
          { 
            name: 'action', "bSortable": false,
            //user 'render' to append Edit/Delete buttons for each entry
            // render: data => `<a class="btn btn-primary" href="/view_doctor/update_doctor/${data}/" action="edit" >Edit</a>`
            render: (data,type,row,meta) => {
              console.log("data : ",row)
              return `<a class="btn btn-primary" href="/view_doctor/update_doctor/${data}/" action="edit" 
              style="width: 80px;">Edit</a>`+
                `<a class="btn"  href="/view_doctor/delete_doctor/${data}/" action="edit"
                onclick="return confirm('Are you sure you want to delete this record?');"
                style="margin-left: 24px;width: 80px;background-color:#bc0000;color:white;">Delete</a>`
            }
          }
        ],
      });
  
    })
  
  </script>
{% endblock content %}
