{% extends 'main/base2.html' %}
{% load static %}
	
{% block contentTitle %}
	<!-- {{request.user}} -->
	View Patient
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}
<style>
    .btn-primary{
        background-color:#3a6b7b !important;
        border-color: #3a6b7b !important;
    }
    .btn-hover{
        background-color:#3a6b7b !important;
    }
    #id_name{
        width: 220px !important;
    }
    #id_name:focus{
        border-bottom-color: #00bfff6e	 !important;
    }
    #id_doctor{
        width: 210px !important;
    }
    #id_doctor:focus{
        border-bottom-color: #00bfff6e	 !important;
    }
    #id_status:focus{
        border-bottom-color: #00bfff6e	 !important;
    }
    #id_bed_num:focus{
        border-bottom-color: #00bfff6e	 !important;
    }
    label{
        display: flex;
    }
    .pagination{
    padding-left: 380px;
    }
    .dataTables_length{
        width:37%;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .dataTables_filter{
        width:70%;
        margin-left: 140px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .custom-select-sm
    {
        margin-left : 10px;
        margin-right : 10px;
    }
    .form-control-sm{
        margin-left: 10px;
    }
    .page-item.active .page-link {
    background-color: #3a6b7b;
    border-color: #3a6b7b;
    }
</style>
    <!-- Topbar Search -->
    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search mb-3" method="GET" id="list">
        <div class="input-group">
        {{myFilter.form}}

            {% comment %} <input type="text" class="form-control bg-light border-0 small" placeholder="Search patient..." {% endcomment %}
                {% comment %} id="searchPatient"> {% endcomment %}
            <div class="input-group-append">
                <button class="btn btn-primary btn-block" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form> -->
    
     <div class="table-responsive mt-3">
        <table id="demo-table" class="table table-hover"  style="width:100%;">
            <thead>
                <th style="padding-right:150px"><h3>Name</h3></th>
                <th style="padding-right:150px"><h3>Bed no</h3></th>
                <th style="padding-right:100px"><h3>Status</h3></th>
                <th ><h3>Action</h3></th>
            </thead>

            <tbody>
                <!-- {% for patient in patients %}

                <tr class="mx-auto">
                    <td scope="row"><h5>{{ patient.name }}</h5></td>
                    <td><h5>{{ patient.bed_num }}</h5></td>
                    <td><h5>{{ patient.status }}</h5></td>
                    <td><a href="/patient/{{patient.id}}" class="btn btn-purple"><h5>Update</h5></a></td>
                </tr>
    
                {% endfor %} -->
                
            </tbody>
        </table>
    
    </div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script language="javascript">
    $(document).ready(function () {
      $('#demo-table').DataTable({
        serverSide: true,
        Processing : true,
        
        sAjaxSource: "/doctor_patient_master",  // new url
       
        columns: [
          
          { name: "name", data: 0 ,"bSortable": true},
          { name: "bed_num", data: 1, "bSortable": false},
          { name: "status", data: 2, "bSortable": false},
          { 
            name: 'action', "bSortable": false,
            //user 'render' to append Edit/Delete buttons for each entry
            // render: data => `<a class="btn btn-primary" href="/view_ur_patient/doctor_edit_patient/${data}/" action="edit" >Edit</a>`
            render: (data,type,row,meta) => {
              console.log("data : ",row)
              return `<a class="btn btn-primary" href="/view_ur_patient/doctor_edit_patient/${data}/" action="edit" 
              style="width: 80px;">Edit</a>`
            }
          }
        ],
      });
  
    })
  
  </script>
{% endblock content %}