{% extends 'main/base.html' %}
{% load static %}
 
    

{% block contentTitle %}
    Bed List 
{% endblock contentTitle %}

{% block admin_pic %}
<img id="pic" name="pic" class="img-circle" {% if show == True %} {% for i in pic %} src="/images/{{i.location}}" {%endfor%} {%else%}  src="{% static 'images/visitor.png' %}" {%endif%} alt="image" width="50px" height="50px" style="margin-right: 15px;">{{request.user}}
{% endblock admin_pic %}

{% block content %}

    {% comment %} 1)name, 2)bed number, 3)status: critical, less crtical, recovering, recovered
        4)edit option, will display modal that will contain, bed number will change to NA once recovered 
     {% endcomment %}
<style>
    .btn-primary{
        background-color:#3a6b7b !important;
        border-color: #3a6b7b !important;
    }
    .btn-hover{
        background-color:#3a6b7b !important;
    }
    button, input, optgroup, select, textarea {

        margin-left: 8px  !important;
        margin-right: 10px !important;
        line-height: inherit !important;
    }
    #id_bed_number{
        margin-right: 0.5rem ;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        width: 335px;
    }
    #id_occupied{
        margin-right: 0.5rem;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        width: 375px;
    }
    label{
        display: flex;
    }
    .pagination{
    padding-left: 379px;
    }
    .dataTables_length{
        width:35%;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .dataTables_filter{
        width:70%;
        margin-left: 152px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .page-item.active .page-link {
    background-color: #3a6b7b;
    border-color: #3a6b7b;
    }
</style>
    <!-- Topbar Search -->
    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search mb-3" method="GET" id="list">
        <div class="input-group">
        {{myFilter.form}}

           
            <div class="input-group-append">
                <button class="btn btn-primary btn-block" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form> -->
    
     <div class="table-responsive mt-3">
        <table id="demo-table" class="table table-hover" style="width:100%;">
            <thead>
                <th style="padding-right:200px"><h3>Bed no</h3></th>
                <th style="padding-right:200px"><h3>Occupied</h3></th>
                <th><h3>Action</h3></th>
            </thead>

            <tbody>
                <!-- {% for bed in beds %}

                <tr class="mx-auto">
                    <td><h5>{{ bed.bed_number }}</h5></td>
                    <td><h5>{{ bed.occupied }}</h5></td>
                    <td><a href="/update_bed/{{bed.id}}" class="btn btn-purple"><h5>Update</h5></a></td>
                </tr>
    
                {% endfor %} -->
                
            </tbody>
        </table>
    
    </div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% comment %} <script> 
    $( function() {
    
    $( "#searchPatient" ).autocomplete({
      source: '{% url "autocomplete" %}'
    });
  } );
</script>
{% endcomment %}
<script language="javascript">
    $(document).ready(function () {
      $('#demo-table').DataTable({
        serverSide: true,
        Processing : true,
        
        sAjaxSource: "/bed_master_data",  // new url
        // "order": [[ 0, "desc" ]],
        columns: [
          
          { name: "bed_number", data: 0 ,"bSortable": false},
          { name: "occupied", data: 1, "bSortable": false},
          { 
            name: 'action', "bSortable": false,
            //user 'render' to append Edit/Delete buttons for each entry
            // render: data => `<a class="btn btn-primary" href="/view_bed/update_bed/${data}/" action="edit" style="">Edit</a>`
            render: (data,type,row,meta) => {
              console.log("data : ",row)
              return `<a class="btn btn-primary" href="/view_bed/update_bed/${data}/" action="edit" 
              style="width: 80px;">Edit</a>`
            //   +
            //     `<a class="btn"  href="/delete_bed/${data}/" action="edit"
            //     style="margin-left: 24px;width: 80px;background-color:#bc0000;color:white;">Delete</a>`
            }
          }
        ],
      });
  
    })
  
  </script>
{% endblock content %}
