body {
    margin: 0;
    /* background-color:  */
  }
  
  .background-image {
    background-image: url(../images/virus.jpg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
  }
  
  .navbar a,
  .navbar h3 {
    z-index: 2;
  }
  
  .title-body > a {
    position: absolute;
    width: fit-content;
    margin-left: 2%;
    margin-right: 0%;
    font-size: 2em;
    font-weight: 500;
    color: black;
  
    z-index: 1;
  }
  
  .title-body {
    height: 100vh;
    width: 100%;
    background-position: 0 0;
    background-size: 580% auto;
    background-repeat: no-repeat repeat;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  .title-body > h3 {
    width: fit-content;
    margin-left: auto;
    margin-right: 0%;
    font-size: 1.6em;
    font-weight: 300;
  }
  
  @media (min-width: 992px) {
    .title-body > .heading > p {
      width: fit-content;
      margin-left: auto;
      margin-right: 10%;
      position: relative;
      top: 100px;
      box-sizing: border-box;
  
      line-height: 0.9em;
      font-size: 7rem;
      font-family: "Dancing Script";
      z-index: 2;
    }
    .title-body > img {
      width: 60%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    
      pointer-events: none;
    }
  }
  
  @media (max-width: 991px) {
    .title-body > .heading > p {
      width: fit-content;
      margin-left: 50%;
      margin-right: auto;
      position: relative;
      top: 100px;
      box-sizing: border-box;
  
      line-height: 0.9em;
      font-size: 5.5rem;
      font-family: "Dancing Script";
      z-index: 2;
    }
    .title-body > img {
      width: 80%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    
      pointer-events: none;
    }
  }
  
  @media (max-width: 768px) {
    .title-body > .heading > p {
      width: fit-content;
      margin-left: 55%;
      margin-right: auto;
      position: relative;
      top: 100px;
      box-sizing: border-box;
  
      line-height: 1em;
      font-size: 4.5rem;
      font-family: "Dancing Script";
      z-index: 2;
    }
    .title-body > img {
      width: 90%;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    
      pointer-events: none;
    }
  }
  
  .container {
    /* backdrop-filter: blur(7px); */
    margin-top: 100px;
  }
  
  a,
  a:hover {
    color: #212529;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .block {
    height: 80vh;
    /* background: rgb(255, 255, 255); */
    margin-bottom: 30px;
  }
  
  .label {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  
    overflow: hidden;
  }
  
  .item-container img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
  }
  
  .description {
    font-size: 1.7em;
    color: white;
  }
